<section>
    <div class="container">
        <div class="row ">
            <div class="col-sm-4">
                <div class="display-picture">

                </div>
            </div>
            <div class="col-sm-5 element">
                <div>
                    <span class="p-tag ">Script Writing</span>
                    <h1 class="mt-4">Louise Carla </h1>
                    <p class="lorem mt-3 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit ab, natus corrupti quis alias qui voluptates temporibus et adipisci quod quibusdam tempora nostrum nemo! Voluptatum eos unde doloribus voluptatem! Eos nam optio!</p>
                    <a href="#" class="readmore ">Read More <img src="assets/img/rm_arw_rgt.png.png" alt="This is an arrow icon" width="18" class="ml-2"> </a>
                </div>

                <div>
                    <h6 class="mb-3 ">Subscribe to our Newsletter</h6>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">        
                            <button class="btn btn-warning">Subscribe</button>                  
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    
</section>
